<div class="body_wrapper">

  <app-header></app-header>
  <section class="chat_banner_area">
      <img class="p_absoulte cloud" data-parallax="{&quot;x&quot;: 0, &quot;y&quot;: 150}" src="img/home-chat/cloud.png" alt="" style="transform:translate3d(0px, 24.029px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(0px, 24.029px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); ">
      <img class="p_absoulte left wow fadeInLeft" data-wow-delay="0.2s" src="assets/img/home-chat/left_leaf.png" alt="" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
      <img class="p_absoulte right wow fadeInRight" data-wow-delay="0.3s" src="assets/img/home-chat/right_leaf.png" alt="" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <div class="chat_banner_content">
                      <div class="c_tag wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"><img src="assets/img/home-chat/live_chat.png" alt=""> Live chat</div>
                      <h2 class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">{{'Slider' | translate}}</h2>
                      <div class="text-center pr_100 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                          <a href="#" class="chat_btn btn_hover">Live chat for free</a>
                          <span>(No credit card requierd)</span>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 offset-lg-2">
                  <div class="chat_img">
                      <img class="p_absoulte p_one" src="assets/img/home-chat/panguin_img_one.png" alt="">
                      <img class="p_absoulte p_two" src="assets/img/home-chat/panguin_img_two.png" alt="">
                      <img class="p_absoulte p_three" src="assets/img/home-chat/panguin_img_three.png" alt="">
                      <div class="round one"></div>
                      <div class="round two"></div>
                      <div class="round three"></div>
                      <img class="wow fadeInUp" data-wow-delay="0.2s" src="assets/img/home-chat/Messages.png" alt="chat-img" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                  </div>

              </div>
          </div>
      </div>
  </section>
  <section class="chat_core_features_area sec_pad">
      <div class="container">
          <div class="hosting_title chat_title text-center">
              <h2 class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">{{'Header1' | translate}}</h2>
          </div>
          <div class="row">
              <div class="col-lg-4 col-md-6">
                  <div class="chat_features_item wow fadeInUp" style="visibility: hidden; animation-name: none;">
                      <div class="round">
                          <div class="round_circle"></div>
                          <img class="top_img p_absoulte" src="assets/img/home-chat/pluse.png" alt="">
                          <img src="assets/img/home-chat/chat.png" alt="">
                      </div>
                      <a href="#"><h4>Simlify communications</h4></a>
                      <p>Tidio lets you get all your live chat, e-mail, and Messenger communication in one panel.</p>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="chat_features_item wow fadeInUp" data-wow-delay="0.2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
                      <div class="round">
                          <div class="round_circle two"></div>
                          <img class="top_img p_absoulte" src="assets/img/home-chat/triangle.png" alt="">
                          <img src="assets/img/home-chat/mobile.png" alt="">
                      </div>
                      <a href="#"><h4>Quick Responce</h4></a>
                      <p>Tidio lets you get all your live chat, e-mail, and Messenger communication in one panel.</p>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="chat_features_item wow fadeInUp" data-wow-delay="0.4s" style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">
                      <div class="round">
                          <div class="round_circle three"></div>
                          <img class="top_img p_absoulte" src="assets/img/home-chat/box.png" alt="">
                          <img src="assets/img/home-chat/book.png" alt="">
                      </div>
                      <a href="#"><h4>Easy Report</h4></a>
                      <p>Tidio lets you get all your live chat, e-mail, and Messenger communication in one panel.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="chat_features_area">
      <div class="container">
          <div class="row flex-row-reverse align-items-center">
              <div class="col-lg-6 offset-lg-1">
                  <div class="chat_features_img chat_features_img_one">
                      <img class="p_absoulte dot_bg" src="assets/img/home-chat/dot.png" alt="">
                      <img class="chat_one" data-parallax="{&quot;x&quot;: 0, &quot;y&quot;: 80}" src="assets/img/home-chat/chat_02.png" alt="">
                      <img class="p_absoulte chat_two" data-parallax="{&quot;x&quot;: 0, &quot;y&quot;: -80}" src="assets/img/home-chat/chat_01.png" alt="">
                  </div>
              </div>
              <div class="col-lg-5">
                  <div class="chat_features_content pr_70">
                      <img src="assets/img/home-chat/chat_icon.png" alt="">
                      <h2><span>Move deals</span> through your funnel – fast</h2>
                      <p>Real-time tools and rich insights mean our support solution amplifies your team for an unbeatable experience.</p>
                      <a href="#">Learn more</a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="chat_features_area">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-6">
                  <div class="chat_features_img chat_features_img_two">
                      <img class="p_absoulte dot_bg" src="assets/img/home-chat/dot.png" alt="">
                      <img class="chat_one" data-parallax="{&quot;x&quot;: 20, &quot;y&quot;: -40}" src="assets/img/home-chat/skyp_1.png" alt="">
                      <img data-parallax="{&quot;x&quot;: 0, &quot;y&quot;: 40}" class="p_absoulte chat_two" src="assets/img/home-chat/skyp_2.png" alt="">
                  </div>
              </div>
              <div class="col-lg-5 offset-lg-1">
                  <div class="chat_features_content pl_70">
                      <img src="assets/img/home-chat/video_icon.png" alt="">
                      <h2><span>First ever</span> Video Calling Support</h2>
                      <p>Real-time tools and rich insights mean our support solution amplifies your team for an unbeatable experience.</p>
                      <a href="#">Learn more</a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="chat_features_area chat_features_area_three">
      <div class="container">
          <div class="row flex-row-reverse align-items-center">
              <div class="col-lg-6 offset-lg-1">
                  <div class="chat_features_img chat_features_img_three">
                      <img class="p_absoulte dot_bg" src="assets/img/home-chat/dot.png" alt="">
                      <img class="p_absoulte chat_two" src="assets/img/home-chat/support_dashboard.jpg" alt="">
                  </div>
              </div>
              <div class="col-lg-5">
                  <div class="chat_features_content pr_60">
                      <img src="assets/img/home-chat/dashboard.png" alt="">
                      <h2>Dedicated <span>Dashboard Support</span></h2>
                      <p>Real-time tools and rich insights mean our support solution amplifies your team for an unbeatable experience.</p>
                      <a href="#">Learn more</a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="security_integration_area chat_integration_area">
      <div class="container">
          <div class="border-bottom"></div>
          <div class="chat_title text-center">
              <h2 class="wow fadeInUp" style="visibility: hidden; animation-name: none;"><span>Integrations.</span> Discover even more possibilities.</h2>
              <p>Explore 50+ integrations that make your day-to-day workflow more efficient and familiar. Our extensive developer tools might also strike your fancy.</p>
          </div>
      </div>
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-2 col-md-4 col-sm-6">
                  <a href="#" class="s_integration_item wow fadeInLeft" style="visibility: hidden; animation-name: none;">
                      <img src="assets/img/new-home/kissmetrics.png" alt="">
                      <h5>KISSmetrics</h5>
                  </a>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6">
                  <a href="#" class="s_integration_item wow fadeInLeft" data-wow-delay="0.2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
                      <img src="assets/img/new-home/metorik.png" alt="">
                      <h5>Metorik</h5>
                  </a>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6">
                  <a href="#" class="s_integration_item wow fadeInLeft" data-wow-delay="0.4s" style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">
                      <img src="assets/img/new-home/nicereply-1.png" alt="">
                      <h5>Nicereply</h5>
                  </a>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6">
                  <a href="#" class="s_integration_item wow fadeInLeft" data-wow-delay="0.6s" style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">
                      <img src="assets/img/new-home/update.png" alt="">
                      <h5>Software Updater</h5>
                  </a>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6">
                  <a href="#" class="s_integration_item wow fadeInLeft" data-wow-delay="0.8s" style="visibility: hidden; animation-delay: 0.8s; animation-name: none;">
                      <img src="assets/img/new-home/campfire.png" alt="">
                      <h5>Campfire</h5>
                  </a>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6">
                  <a href="#" class="s_integration_item wow fadeInLeft" data-wow-delay="0.8s" style="visibility: hidden; animation-delay: 0.8s; animation-name: none;">
                      <img src="assets/img/new-home/webhooks.png" alt="">
                      <h5>Webhooks</h5>
                  </a>
              </div>
          </div>
      </div>
  </section>
  <section class="chat_clients_area">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-6 p-0 chat_clients_feedback">
                  <div class="clients_feedback_item flex-row-reverse">
                      <div class="feedback_body">
                          <p>
                              Tidio has given our clients a quick and easy way to send over thoughts and questions without delay or wait time! No second guessing – just asked and answered quickly in order to make their purchasing decisions easier!
                          </p>
                          <div class="ratting">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                          </div>
                          <h3 class="f_name">John Doe</h3>
                          <a href="#">hello.com</a>
                      </div>
                      <img src="assets/img/home-chat/john.png" alt="">
                  </div>
              </div>
              <div class="col-lg-6 p-0 chat_clients_feedback feedback_two">
                  <div class="clients_feedback_item">
                      <div class="feedback_body">
                          <p>
                              Tidio has given our clients a quick and easy way to send over thoughts and questions without delay or wait time! No second guessing – just asked and answered quickly in order to make their purchasing decisions easier!
                          </p>
                          <div class="ratting">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                          </div>
                          <h3 class="f_name">Richard Tea</h3>
                          <a href="#">hello.com</a>
                      </div>
                      <img src="assets/img/home-chat/richard.png" alt="">
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="chat_get_started_area">
      <div class="container">
          <div class="chat_get_started_content text-center">
              <h2 class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">Get started with us</h2>
              <p>A better experience for your customers, fewer headaches for your team. You'll be set up in minutes.</p>
              <a href="#" class="chat_btn btn_hover">Get Started</a>
          </div>
      </div>
  </section>
  <app-footer></app-footer>
</div>
